:root {

    --fs-overpass: 'Overpass', sans-serif;;

    --orange: hsl(25, 97%, 53%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--fs-overpass);
    color: var(--white);
    background-color: var(--very-dark-blue);
    min-height: 100vh;
    display: grid;
    place-content: center;
}

img,
svg,
figure {
    display: block;
}

ul,
ol,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card {
    margin-top: 8rem;
    margin-bottom: 8rem;

    border-radius: 1rem;

    background: radial-gradient(
            at top,
            rgb(38, 42, 54),
            rgb(30, 37, 47),
            rgb(27, 34, 45),
            rgb(22, 29, 39)
    );
}

.card__container {
    width: 40rem;
    height: 41rem;

    flex-direction: column;
    overflow: hidden;
    place-content: center;

    padding: 3rem;

    font-size: clamp(1.55rem , 1.65rem, 1.4rem);
}

.card__container > h2 {
    font-weight: 700;
    font-size: clamp(2.7rem , 2.5rem, 2.4rem);
    margin-top: 2rem;
}

.card__container > p {
    color: var(--light-grey);
    font-size: clamp(1.45rem , 1.65rem, 1.5rem);

    line-height: 2rem;

    margin-top: 1.5rem;
}

/* Rating state */
.card__container--rating-state {
    display: flex;
}

.card__container--rating-state > img {
    width: 5rem;
    height: 5rem;

    background-color: var(--dark-blue);
    padding: 1.5rem;

    border-radius: 100%;
}

.card__ratings {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    margin-top: 3rem;
    margin-bottom: 2rem;
}

.card__rating {
    width: 5rem;
    height: 5rem;

    border: none;
    border-radius: 50%;

    background-color: var(--dark-blue);
    color: var(--medium-grey);
    cursor: pointer;
}

.card__rating:hover {
    color: var(--white);
    background-color: var(--orange);
}

.card__rating:focus {
    color: var(--white);
    background-color: var(--medium-grey);
}

.card__submit {
    margin-top: 1rem;
    padding: 1.5rem;

    border: none;

    border-radius: 3rem;

    background-color: var(--orange);

    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}
/* End Rating State */

/* Thank you state */
.card__selected-rating {
    width: 19rem;

    margin-top: 2rem;
    background-color: var(--dark-blue);
    padding: 0.5rem;
    border-radius: 3rem;

    align-self: center;

    color: var(--orange);
}

.card__container--thanks-state > img {
    width: 15rem;

    align-self: center;
}

.card__container--thanks-state {
    display: none;

    text-align: center;
}
/* End Thank you state */

/* MEDIA QUERYS */
@media (max-width: 425px) {
    .card__container {
        width: 33rem;
        height: 40rem;

        padding: 2.5rem;
    }

    .card__container--rating-state > img {
        width: 4.8rem;
        height: 4.8rem;

        padding: 1.5rem;
    }
}
